// background colors
$bg-gray: #f8f8f8;
$bg-white: #ffffff;

// text color
$text-black: #010103;
$text-orange: #ff4d30;
$btn-black: #161616;
$text-gray: #706f7b;
$bleu: #4940a5 ;
$btn-bleu:  rgb(56, 93, 189) ;
$btn-shadow: rgb(85, 108, 165) ;
$btn-shadow-hvr: rgb(4, 41, 137) ;
$btn-bgcolor-hvr:  #5b26fa;