.input{
    padding: 10PX;
    margin: 15px;
    border-radius: 10px;

}

h4{
    background-color: rgb(127, 52, 192);
    border-radius: 10px;
    padding: 5px;
    border-style: dotted;
}

.Name p {
    background-color: rgb(190, 92, 255);
    margin-bottom: 10px;
    margin-top: -5px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-shadow: 1px;
}

pre{
    background-color: rgb(105, 177, 105);
    margin-bottom: 10px;
    margin-top: -5px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-decoration-color: black;

}